### 1. Print the Data Type of x,y,z?
x = 25
y = "Prefleaf"
z = 25.89

In [1]:
x = 25 
y = "Prefleaf" 
z = 25.89

In [2]:
type(x)

int

In [3]:
type(y)

str

In [4]:
type(z)

float

### 2. Take the following as a input in use?

In [14]:
# name
a = 'Sachin gupta'

In [15]:
a

'Sachin gupta'

In [16]:
type(a)

str

In [12]:
### lucky number

b = 7
b

7

In [13]:
type(b)

int

In [17]:
# place
place = 'Kolkata'
place

'Kolkata'

In [18]:
type(place)

str

### 3. take two variables name ad age and print using.format and f-string

In [20]:
# using.format

name = 'Amit'
age = 26

print('{} is {} years old'.format(name, age))

Peter is 23 years old

In [21]:
# f-string

bags = 3
apples_in_bag = 12

print(f'There are total of {bags * apples_in_bag} apples')

There are total of 36 apples

### 4. take 2 numbers as inputs from user and print their
-- sum
-- difference
-- product
-- divison
-- remainder

In [39]:
c = 7
f = 2

In [40]:
sum1 = c+f
sum1

9

In [41]:
diff1 = c-f
diff1

5

In [42]:
pro1 = c*f
pro1

14

In [43]:
dviv1 = c/f
dviv1

3.5

In [44]:
rem1 = c%f
rem1

1

### 5. check the output of the following
##### logical operators

In [45]:
print(2==3)

False

In [48]:
print(2<3)

True

In [49]:
2==2

True

In [50]:
(4>5)

False

In [52]:
((23==2) & (2==3))

False

In [53]:
((23==2)|(2==3))

False

### 6.Write a program to print multiplication table(upto 10) of a given number?

In [55]:
def tables():
    for x in range(1, 10):

        print("")

        for y in range(1, 11):
            print(x * y, end=" ")


tables()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90

### 7.Write a program to count the total number of digits in a number

In [56]:
num = 258
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 3

### 8. Write a program to display all prime numbers within a range?

In [57]:
#Read user input
min = int(input("Enter the min : "))
max = int(input("Enter the max : "))
for n in range(min,max + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

Enter the min : 2
Enter the max : 1000
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997